{% extends "polls/base.html" %}

{% block content %}
{% load bootstrap3 %}
{% load staticfiles %}
<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title"><strong>Профиль</strong></h1> 
			</div>
			{% if user.userprofile.is_approved or user.social_auth.exists %}
			<div class="panel-body">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger">
							<a class="close" data-dismiss="alert" href="#">&times;</a>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>Логин</td>
							<td>{{ user.username}}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Фамилия</td>
							<td>{{ user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{ user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</td>
							<td>{{ user.userprofile.middlename }}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Комната</td>
							<td>{{ user.userprofile.room }}</td>
						</tr>
						<tr>
							<td>Группа</td>
							<td>{{ user.userprofile.group }}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Почтовый адрес</td>
							<td>{{ user.email }} {% comment %} <a href="{% url 'profiles:profile_change_email' %}">(изменить)</a> {% endcomment %}</td>
						</tr>
						<tr>
							<td>Аккаунт phystech.edu</td>
                            {% if phystech %}
							    <td>{{ phystech }}<td>
                            {% else %}
                                <td></td>
                            {% endif %}
						</tr>
                        <tr>
							<td>Аккаунт VK</td>
                            {% if vk %}
							    <td>{{ vk }}<td>
                            {% else %}
                                <td></td>
                            {% endif %}
						</tr>
						{% comment %}
						<tr>
						<td>Аккаунт mipt.ru</td>
							{% if not mipt %}
								<td><a class="btn btn-success" role="button" href="{% url 'social:begin' 'mipt-oauth2' %}?next={% url 'profiles:profile_view' %}">Привязать аккаунт</a></td>
							{% else %}
							<td>{{ mipt }}<td>
							{% endif %}
						</tr>
						{% endcomment %}
					</tbody>
				</table>
			</div>
			<div class="panel-footer clearfix">
				{% buttons %}
					<a href="{% url 'password_change' %}" class="btn btn-default">Изменить пароль</a>
					<a href="{% url 'profiles:change_subscribing' %}" class="btn btn-default pull-right">{% if user.userprofile.is_subscribed %}Отписаться от рассылки{% else %}Подписаться на рассылку{% endif %}</a>
					{% comment %}
						Судя по всему, реализация через форму изменения рассылки не даёт никакого выигрыша
					{% endcomment %}
				{% endbuttons %}
			</div>
			{% else %}
			<div class="panel-body">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger">
							<a class="close" data-dismiss="alert" href="#">&times;</a>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<table class="table table-bordered">
					<tbody>
						<tr>
							<a class="btn btn-success btn-lg btn-block" role="button" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'profiles:profile_view' %}">Привязать аккаунт phystech.edu</a>
						</tr>
						<tr>
							<a class="btn btn-success btn-lg btn-block" role="button" href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'profiles:profile_view' %}">Привязать аккаунт VK</a>
						</tr>
					{% comment %}
						<tr>
							<a class="btn btn-success btn-lg btn-block" role="button" href="{% url 'social:begin' 'mipt-oauth2' %}?next={% url 'profiles:profile_view' %}">Привязать аккаунт mipt.ru</a>
						</tr>
					{% endcomment %}
					</tbody>
				</table>
			</div>
			<div class="panel-footer clearfix">
					{% buttons %}
						<a class="pull-right btn btn-default" role="button" href="{% url 'password_change' %}" >Изменение пароля</a>
					{% endbuttons %}
			</div>
			{% endif %}
		</div>	
	</div>
</div>

{% comment %}
<a href="{% url 'polls:password_change' %}">Изменение пароля</a>
<form action="{% url 'polls:profile_view' %}" method="post">{% csrf_token %}
{{ user_form.as_p }}
{{ profile_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endcomment %}

{% endblock content %}
