{% extends 'core/base.html' %}

{% block content %}
    {% for post in post_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8 panel-title">
                        <a href="{% url 'materials:post_detail' post.id %}">{{ post.title }}</a>
                    </div>
                    <div class="col-sm-4 text-muted text-right">{{ post.published_at }}</div>
                </div>
            </div>

            <div class="panel-body">
                {{ post.text|truncatechars_html:500|safe }}
            </div>
        </div>
    {% empty %}
        <div>
            Новостей нет.
        </div>
    {% endfor %}

    {% include 'core/paginator.html' %}
{% endblock %}
