{%  extends "polls/base.html" %}
    {%  block content %}

{% load bleach_tags %}

<div class="row">
<div class="faq">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% for audience, qa_list in object_list %}
        <div class="panel panel-info">
            <input type="radio" id="radio-collapse-{{ audience.0 }}" class="radio-collapse" data-toggle="collapse" href="#panel-all-body-{{ audience.0 }}">
            <label class="panel-heading clearfix" for="radio-collapse-{{ audience.0 }}">
                <h1 class="panel-title pull-left">{{ audience.1 }}</h1>
                <div class="arrow-down pull-right"></div>
                <div class="arrow-up pull-right"></div>
            </label>
            <div id="panel-all-body-{{ audience.0 }}" class="panel-collapse collapse in">
                {% for qa in qa_list %}
                <div class="panel-body" style="padding-left:4px; padding-right:4px">
                    <div class="col-xs-13" style="padding-right:4px">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                    <b> {{ qa.question | bleach }} </b>
                                </h1>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" style="padding-top:0px; padding-bottom:0px;">
                                    <div class="radio clearfix">
                                        <div class="pull-left">
                                            {{ qa.answer | bleach }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</div>
{% endblock content %}
