{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block content %}
    <h3>Сейчас: {{ cl.current_month }}, Лимит: {{ cl.sum_max|floatformat:"0" }}, Одобрено: {{ cl.sum_used|floatformat:"0" }},
        Глобальный профицит: {{ cl.proficit|floatformat:"0" }}, Рассматривается: {{ cl.sum_waiting|floatformat:"0" }}</h3>
    <h3><form action="{% url "fin_aid:aid_request_export" %}" method="post">
        {% csrf_token %}
        Создать выгрузку
        {{ cl.export_form }}
        <input type="submit" class="tiny" value="Выгрузить заявления">
    </form></h3>
    {{ block.super }}
{% endblock %}
