<html>

<head>
<meta charset="UTF-8">
</head>

<body>

<div align="center">
    <h1> Внимание! </h1>
    <br>
    <h2>
        На {{ site_name }} доступен новый опрос
        <br> 
        &laquo;{{ poll_obj.question }}&raquo;. 
    </h2>

    <br>
    {% load bleach_tags %}
    {{ main_text|bleach|linebreaks }} 
    <br><br>
</div>

<table cellpadding="10">
    <tr>
        <td> <span style="font-size:28"><b>Когда?</b></span> </td>
        <td> <i>Выразить своё мнение можно с {{ poll_obj.begin_date|date:"j E Y (l), H:i"|lower }} по {{ poll_obj.end_date|date:"j E Y (l), H:i"|lower }}.</i> </td>
    </tr>
    <tr>
        <td> <span style="font-size:28"><b>Где?</b></span> </td>
        <td> <i>По адресу <a href = "{{ poll_address }}" > {{ poll_address }} </a></i>  </td>
    </tr>
</table>

<br>

<div align="right" style="font-size:24"> 
    С уважением, {{ author_name }}. 
</div>

<br><br>

<div align="center"> 
    <img src="../polls/static/polls/dgap-it.png" style="height:300; width:300"></img> 
</div>

</body>
</html>
