<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title> DGAP voting </title>

    {% load staticfiles %}
    {% load bootstrap3 %}

    {% bootstrap_css %}

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        {% bootstrap_javascript %}

    {# bootstrap_messages #}
    <link href="{% static 'polls/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'polls/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'polls/favicon.png' %}"/>
    {# <link href="{% static 'polls/js/countdown/jquery.countdown.css' %}" rel="stylesheet" > #} 

    <script src="{% static 'polls/js/countdown/jquery.plugin.min.js' %}"></script> 
    <script src="{% static 'polls/js/countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'polls/js/script.js' %}"></script>
    <script>
        function serverTime() { 
            var time = null; 
            $.ajax({url: "{% url 'servertime:server_time' %}", 
                async: false, dataType: 'text', 
                success: function(text) { 
                    time = new Date(text); 
                }, error: function(http, message, exc) { 
                    time = new Date(); 
            }}); 
            return time; 
        };
        function serverDate() { 
            var time = null; 
            $.ajax({url: "{% url 'servertime:server_date' %}", 
                async: false, dataType: 'text', 
                success: function(text) { 
                    time = new Date(text); 
                }, error: function(http, message, exc) { 
                    time = new Date(); 
            }}); 
            return time; 
        }; 

        $(function () {
                var startDay = serverDate();
                $('#defaultTime').countdown({since: startDay, compact: true, format: 'HMS', description: '', serverSync: serverTime});
        });
    </script>
</head>

<body>
{% include 'polls/nav.html' %}
{% include 'polls/messages.html' %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12" style="padding-top:16px;"{# class="container" #}>
            {% block content %}
            {% endblock %}
            <script src="{% static 'polls/collapse.js' %}"></script>
        </div>
      {% include "polls/footer.html" %}
        
    </div><!--/.row-->
  </div><!--/.container-->

</body>


</html>
