<html lang="ru">
	<head>
		{% load staticfiles %}
		<link href="{% static 'polls/framework.css' %}" rel="stylesheet">
		<div class="f-nav-bar f-nav-bar-fixed">
			<div class="f-nav-bar-body">
				<div class="f-nav-bar-title">
					<a href="{% url 'polls:index' %}">DGAP Voting</a>
				</div><!-- f-nav-bar-title -->
				{% if user.is_authenticated %}
				<ul class="f-nav f-nav-right">
					<li><a href="{% url 'polls:logout' %}">Выйти</a></li>
				</ul><!-- f-nav -->
				{% endif %}

				<ul class="f-nav f-nav-right">
					<li>{% if user.is_authenticated %}
   						 Welcome, {{ user.username }}
					{% else %}
						<a href="{% url 'polls:login' %}">Войти</a>
					{% endif %}</li>
			</div><!-- f-nav-bar-body -->
		</div><!-- f-nav-bar -->
		<!--[if lt IE 9]>
			<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	

<style type="text/css">
.layer1{
	width: 48%;
	margin-left: 25.5%; 
}	
</style>


<body>
	<div class="layer1" id="content">
		<br><br><br>
        	{% block content %}{% endblock %}
	</div>
</body>


</html>
