{% extends "core/base.html" %}
{% block content %}
	{% if not poll.is_started %}
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<p style="text-align:center"> Голосование начнётся {{poll.begin_date|date:"j E в H:i"}} </p>
			</div>
	{% else %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger">
						<a class="close" data-dismiss="alert" href="#">&times;</a>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			{% if not poll.is_started %}
				<div class="alert alert-info">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					<p style="text-align:center"> Голосование начнётся {{poll.begin_date|date:"j E в H:i"}} </p>
				</div>
			{% endif %}
		{% include "polls/poll.html" %}
	{% endif %}

{% endblock content %}

