<!--
<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
-->

<html>
  {% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Just voting</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <style type="text/css">
      .usual_header {
        height: 50px;
	width: 60%;
        background: #DCDCDC;
        padding-left: 20%;
        padding-right:20%;
        padding-top: 2px;
	padding-bottom: 5px;
        text-align: center;
        margin 0;
	
      }
      .question, .choices {
        width: 40%;
        padding-left: 30%; /* Поля вокруг текста */
	padding-right: 30%;
        text-align: left;
/*	background: #DCDCDC;*/
      }
    </style>
  </head>
  <body gcolor="#FFFFFF" background="images/bg.jpg">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <header>
      <div >
        <h4>Голосовалка ФОПФ</h4>
      </div>
    </header>
    <div>
      <h1>{{ poll.question }}</h1>
    </div>
    <div>
      <form action="{% url 'polls:vote' poll.id %}" method="post">
        {% csrf_token %}
        {% for choice in poll.choice_set.all %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <div><pre></pre></div>
        <input type="submit" value="Vote" />
      </form>
    </div>
  </body>
</html>
