{% extends "polls/base.html" %}

{% block content %}

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %} 

<div>
      <h1>{{ poll.question }}</h1>
</div>
    

<div>
	<form action="{% url 'polls:vote' poll.id %}" method="post">
		{% csrf_token %}
		{% if poll.answer_type == 'OWN' %}
			<textarea cols="90" rows="10" name="choice"></textarea>
		{% else %}
		       
		{% for choice in poll.choice_set.all %}
			{% if poll.answer_type == 'ONE' %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
			{% endif %}
			{% if poll.answer_type == 'MANY' %}
				<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
			{% endif %}
				<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		{% endfor %}
		{% endif %}
		<br>
		<input type="submit" value="Голосовать" />
	</form>
</div>


{% endblock content %}
