{%  extends "polls/base.html" %}
    {%  block content %}

        <h1 class="western" style="margin-top: 0in; orphans: 0; widows: 0">FAQ Голосовалки</h1>
<h2 class="western" style="margin-top: 0in; orphans: 0; widows: 0"><a name="_40fkc5fat7na"></a>
Голосующему</h2>
<ol>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>Как я
	могу войти на сайт/подтвердить
	аккаунт?<br/>
</b>Войти на сайт можно,
	используя свою почту на phystech.edu (кнопка
	“Войти через phystech.edu” около форм входа
	и регистрации). Подтвердить уже имеющийся
	аккаунт также можно через phystech.edu.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><a name="sgm1cn1hny0e"></a>
	<b>У меня не получается войти/подтвердить
	профиль: ошибка “</b><font color="#333333"><b>Поддерживаются
	только аккаунты phystech.edu”<br/>
</b></font>Ваш
	браузер пытается войти с помощью другого
	Google-аккаунта. Если Вы не сделали это
	намеренно, попробуйте перевести браузер
	в режим “Инкогнито/приватный” и
	повторить попытку.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>У меня
	всё равно не получается войти/подтвердить
	профиль.<br/>
</b>При использовании
	phystech.edu<b> </b>убедитесь, что Вы вошли в
	свой почтовый ящик @phystech.edu на сайте
	<a href="http://mail.google.com/"><font color="#1155cc"><u>mail.google.com</u></font></a><b>.
	</b>Если у вас есть несколько аккаунтов
	на phystech.edu, используйте тот, что выдала
	администрация МФТИ. <br/>
<br/>
Если же Вы
	уверены, что всё в порядке (и что Вы -
	студент ФОПФ!), пришлите нам свои данные
	на адрес <a href="mailto:vote@dgap.mipt.ru"><font color="#1155cc"><u>vote@dgap.mipt.ru</u></font></a>,
	указывая тему письма &quot;Проблемы при
	регистрации&quot;.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>Как
	посмотреть результаты голосования?<br/>
</b>Для
	сохранения независимости, результаты
	не показываются до окончания. Дождитесь
	его. Кстати, на данный момент организатор
	голосования увидит результат в точно
	таком же формате, что и Вы через тот же
	самый интерфейс.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>Что
	значит “тайное” голосование?<br/>
</b>При
	тайном голосовании система не запоминает
	связь между Вашим выбором и Вашей
	личностью. То есть, она сохраняет, что
	Вы голосовали в данном опросе, но не
	сохраняет как. Более того, Вам выдаётся
	случайно сгенерированный код Вашего
	голоса, по которому Вы сможете убедиться,
	что он был верно учтён. Список
	проголосовавших  так же публичен - по
	нему Вы сможете убедиться, что голоса
	не приписаны. Ваш ответ сам по себе
	тайным не является и будет доступен в
	общей таблице результатов - обратите
	на это внимание при ответах в свободной
	форме</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>Я не
	верю, что голосование действительно
	тайное!<br/>
</b>У нас есть техническая
	возможность записывать Ваш голос. В
	конце концов, Вы отправляете его в
	открытом виде на наш сервер. Но мы ей
	не пользуемся. Если Вам интересно, как
	устроена система, код можно посмотреть
	здесь: <a href="https://github.com/FOPF/dgap_voting"><font color="#1155cc"><u>https://github.com/FOPF/dgap_voting</u></font></a>
	.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>Всё
	равно не верю!<br/>
</b>Жаль. Мы действительно
	пока не можем предложить удобного
	способа голосования, которое бы
	обеспечивало идентификацию голосующих
	и анонимность без необходимости доверия
	системе. Если Вы считаете, что недоверие
	IT-клубу принципиально для данного
	голосования, свяжитесь с организатором,
	возможно он осознает свою неправоту и
	сделает его по-другому. К примеру, через
	бумажные бюллетени.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%"><b>Что
	такое “открытое” голосование?<br/>
</b>Ваш
	ответ в публичной таблице результатов
	будет стоять напротив Вашего имени.</p>
</ol>
<h2 class="western" style="margin-top: 0in; orphans: 0; widows: 0"><a name="_295grnykaai5"></a>
Организатору голосования</h2>
<ol>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>О чём можно устраивать голосования?</b><br/>
Мы
	получили виртуальную машину в ЦОД МФТИ
	на условиях, что голосования будут по
	темам ниже. Если очень хочется что-то
	другое, свяжитесь с нами - обсудим.</p>
	<ol type="a">
		<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
		Голосования и опросы о благоустройства
		общежития.</p>
		<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
		Сбор мнений об учебном процессе.</p>
		<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
		Приём жалоб.</p>
		<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
		Голосования о вопросах студенческого
		самоуправления.</p>
	</ol>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как мне устроить своё голосование?</b><br/>
Свяжитесь
	с нами - договоримся.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как голосование можно таргетировать?<br/>
</b>Как
	угодно по группе и комнате - критерий
	задаётся регулярным выражением.</p>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как пользоваться регулярными
	выражениями?<br/>
</b>Вы составляете
	регулярные выражение и к голосованию
	допускаются только те, чьи группа и
	комната им соответствуют. Для составления
	и проверки соответствия Вашему замыслу,
	советуем воспользоваться
	<a href="http://www.regexr.com/"><font color="#1155cc"><u>http://www.regexr.com/</u></font></a>.
	Необходимый минимум синтаксиса: \d -
	любая цифра, \w - любая буква или цифра,
	\d? - любая цифра или ничего, \w? - любая
	буква или цифра или ничего, ^ - начало
	строки, $ - конец строки. К примеру,
	^1\d\d\w?$ соответствует первому этажу. 112
	подходит, а 212 - нет. А ^\d23н$ - кафедре
	“Проблемы квантовой физики”.<br/>
<br/>
Регулярные
	выражения - очень красивый и мощный
	инструмент.  ^[901]2\d\w?$ выберет (на осень
	2014) 4, 5 и 6 курсы ФОПФ, а ^\d[^2]\d\w?$ - всех
	не-ФОПФов. Если вам стало интересно,
	подробно можно почитать, к примеру,
	здесь: <a href="https://docs.python.org/3.1/library/re.html"><font color="#1155cc"><u>https://docs.python.org/3.1/library/re.html</u></font></a>
	. Ну или зайдите с чем-нибудь вкусным к
	знакомому пользователю Linux.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как узнать группу по базовой
	кафедре?<br/>
</b>Список есть здесь:
	<a href="http://dgap-mipt.ru/department/chairs"><font color="#1155cc"><u>http://dgap-mipt.ru/department/chairs</u></font></a></p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как изменить голосование?<br/>
</b>Так
	как уже проголосовавшие люди огорчатся,
	если Вы поменяете по сути выбранные
	ими варианты, этого делать не стоит.
	Косметические правки (исправить
	опечатки) можно сделать только через
	администратора.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как привлечь людей к голосованию?<br/>
</b>Например,
	можно сделать email-рассылку по целевой
	аудитории (см. пункт 8) или развесить
	объявления в общежитии (см. пункт 9).</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>И как же сделать рассылку по целевой
	аудитории?</b></p>
</ol>
<p align="justify" style="margin-left: 0.48in; margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
В разделе редактирования опросов на
странице администратора напротив
выбранного вами голосования есть
специальная кнопка “Сделать рассылку”.
Рядом с ней в квадратных скобках указано
количество email-рассылок, уже проведённых
по этому опросу. Ссылка приведёт вас на
страницу подтверждения, на которой
указывается количество рассылок и дата
последней из них. Обращайте внимание
на эту информацию, чтобы не превратить
рассылку в спам!</p>
<p align="justify" style="margin-left: 0.48in; margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
Письма отправляются на адреса
пользователей, входящих в целевую
аудиторию опроса, но не проголосовавших
до момента рассылки. Текст письма
стандартен (вам не нужно придумывать
его самостоятельно) и содержит в себе
дату окончания голосования, ссылку на
опрос и его название.</p>
<ol start="9">
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
	<b>Как сайт может помочь мне в создании
	объявлений?</b></p>
</ol>
<p align="justify" style="margin-left: 0.48in; text-indent: -0.1in; margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
<b>	</b>В том же разделе редактирования
опросов есть ссылка на интерфейс
генерации объявлений в формате pdf. Он
предоставляет вам возможность не тратить
время на дизайн, сразу перейдя к сути.
В основном тексте объявления не стоит
писать название опроса и даты его
проведения (они будут указаны в объявлении
в любом случае), но можно описать целевую
аудиторию голосования, причины его
проведения или варианты ответов. В
крайнем случае можно оставить это поле
пустым.</p>
<p align="justify" style="margin-left: 0.48in; margin-bottom: 0in; line-height: 115%; orphans: 0; widows: 0">
При создании объявления можно пользоваться
некоторыми html-тэгами, список которых
указан на той же странице. Например, при
желании выделить слово “важный”
<b>полужирным</b>, вы можете написать его
так: &lt;b&gt;важный&lt;/b&gt;. В качестве
справочника можно использовать, например,
<a href="http://htmlbook.ru/"><font color="#1155cc"><u>http://htmlbook.ru/</u></font></a>,
но мы рекомендуем вам не злоупотреблять
возможностями html без необходимости.</p>

    {%  endblock content %}