<html>
  {% load staticfiles %}
  <head>
    <title>DGAP_Voting</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  </head>
  <body>
    <header>
      <div >
        <h4>Голосовалка ФОПФ</h4>
      </div>
    </header>
    <p style = "text-align: center"><head>Список</head></p>
    {% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
    <li><pre>{{ poll.name }} <a href="{% url 'polls:detail' poll.id %}">Голосовать</a> <a href="{% url 'polls:results' poll.id %}">Результаты</a></pre> </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </body>
</html>
