{% extends "polls/base.html" %}

{% block content %}
{% load bootstrap3 %}
{% load staticfiles %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title"><strong>Профиль</strong></h1> 
			</div>
			{% if user.userprofile.approval %}
			<div class="panel-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>Логин</td>
							<td>{{ user.username}}</td>
						</tr>
						<tr>
							<td>Фамилия</td>
							<td>{{ user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{ user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</td>
							<td>{{ user.userprofile.middlename }}</td>
						</tr>
						<tr>
							<td>Комната</td>
							<td>{{ user.userprofile.room }}</td>
						</tr>
						<tr>
							<td>Группа</td>
							<td>{{ user.userprofile.group }}</td>
						</tr>
					</tbody>
				</table>
				{% buttons %}
					<a href="{% url 'password_change' %}" class="btn btn-default">Изменение пароля</a>
				{% endbuttons %}
			</div>
			{% else %}
			<div class="panel-body">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger">
							<a class="close" data-dismiss="alert" href="#">&times;</a>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<form action="{% url 'polls:profile_view' %}" method="post" class="form">
					{% csrf_token %}
					{% bootstrap_form user_form %}
					{% bootstrap_form profile_form %} 
					{# <a href="http://stiralka.fopf.mipt.ru/images/card.jpg">Пример нужных цифр</a> #}
					<img class ="centered" src="{% static 'polls/card.jpg' %}" alt="Example">
			</div>
			<div class="panel-footer clearfix">
					{% buttons %}
						<button type="submit" class="btn btn-primary">
							Сохранить
						</button>
						<a href="{% url 'password_change' %}" class="btn btn-default pull-right">Изменение пароля</a>
					{% endbuttons %}
			</div>
				</form>
			{% endif %}
		</div>	
	</div>
</div>

{% comment %}
<a href="{% url 'polls:password_change' %}">Изменение пароля</a>
<form action="{% url 'polls:profile_view' %}" method="post">{% csrf_token %}
{{ user_form.as_p }}
{{ profile_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endcomment %}

{% endblock content %}
