{% extends "polls/base.html" %}

{% block content %}
{% load bootstrap3 %}
{% load staticfiles %}
<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title"><strong>Профиль</strong></h1> 
			</div>
			{% if user.userprofile.approval %}
			<div class="panel-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>Логин</td>
							<td>{{ user.username}}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Фамилия</td>
							<td>{{ user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{ user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</td>
							<td>{{ user.userprofile.middlename }}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Комната</td>
							<td>{{ user.userprofile.room }}</td>
						</tr>
						<tr>
							<td>Группа</td>
							<td>{{ user.userprofile.group }}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Почтовый адрес</td>
							<td>{{ user.email }} <a href="{% url 'polls:profile_change_email' %}">(изменить)</a></td>
						</tr>
						<tr>
							<td>Аккаунт phystech.edu</td>
							{% if not user.social_auth.exists %}
								<td><a class="btn btn-success" role="button" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'polls:profile_view' %}">Привязать аккаунт</a></td>
							{% else %}
							<td>{{ user.social_auth.get.uid }}<td>
							{% endif %}
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer clearfix">
				{% buttons %}
					<a href="{% url 'password_change' %}" class="btn btn-default">Изменить пароль</a>
				{% endbuttons %}
			</div>
			{% else %}
			<div class="panel-body">
				{% if not user.social_auth.exists %}
				<table class="table table-bordered">
					<tbody>
						<tr>
							<a class="btn btn-success btn-lg btn-block" role="button" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'polls:profile_view' %}">Привязать аккаунт phystech.edu</a>
						</tr>
					</tbody>
				</table>
				{% endif %}
				{% if user.social_auth.exists %}
				<div class="alert alert-info">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					Для завершения регистрации Вам необходимо указать комнату проживания
				</div>
				{% else %}
				<div class="alert alert-info">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					Для завершения регистрации Вам необходимо указать дополнительную информацию о себе. Привяжите аккаунт на phystech.edu или заполните расположенную ниже форму. В поле "Номер карты" следует вводить последние пять цифр номера, находящегося на обратной стороне социальной карты. 
				</div>
				{% endif %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger">
							<a class="close" data-dismiss="alert" href="#">&times;</a>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<form action="{% url 'polls:profile_view' %}" method="post" class="form clearfix">
					{% csrf_token %}
					{% if user.social_auth.exists %}
					{% bootstrap_form profile_form %} 
					{% else %}
					{% bootstrap_form user_form %}
					{% bootstrap_form profile_form %} 
					{# <a href="http://stiralka.fopf.mipt.ru/images/card.jpg">Пример нужных цифр</a> #}
					<img class ="centered" src="{% static 'polls/card.jpg' %}" alt="Example">
					{% endif %}
			</div>
			<div class="panel-footer clearfix">
					{% buttons %}
						<button type="submit" class="btn btn-primary">
							Сохранить
						</button>
						<a class="pull-right btn btn-default" role="button" href="{% url 'password_change' %}" >Изменение пароля</a>

					{% endbuttons %}
			</div>
				</form>
			{% endif %}
		</div>	
	</div>
</div>

{% comment %}
<a href="{% url 'polls:password_change' %}">Изменение пароля</a>
<form action="{% url 'polls:profile_view' %}" method="post">{% csrf_token %}
{{ user_form.as_p }}
{{ profile_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endcomment %}

{% endblock content %}
