{% extends "core/base.html" %}

{% block title %}
    Обращения в Сенат
{% endblock %}

{% block content %}
    <div class="card mx-auto">
        <div class="card-header"><div class="panel-title"><h3>Мои обращения в Сенат</h3></div></div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Дата подачи</th>
                        <th>Категория</th>
                        <th>Тема</th>
                        <th>Ответственный</th>
                        <th>Статус</th>
                        <th>Последнее действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for issue in object_list%}
                        <tr class="clickable-row {% if issue.status == issue.CLOSED or issue.status == issue.ACCEPTED %} table-success
                            {% elif issue.status == issue.DECLINED %} table-danger {% endif %}"
                            data-href="{% url "senate:issue_detail" issue.id %}">
                            <td> {{ issue.add_dttm|date }} </td>
                            <td> {{ issue.category }} </td>
                            <td> {{ issue.name }} </td>
                            <td> {{ issue.assigned_dept.department.name }} </td>
                            <td> {{ issue.get_status_display }} </td>
                            <td> {{ issue.last_event }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
