{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ object.category }}: {{ object.name }}</h2>
                <p><strong>Статус:</strong> {{ object.get_status_display }}</p>
                <p><strong>Назначено:</strong> {{ object.assigned_dept.department.name }}</p>
                <p><strong>Последнее действие:</strong> {{ object.last_event }}</p>
                {% if object.want_to_help %}<p>Студент готов помогать с реализацией</p>{% endif %}
            </div>
        </div>
            {% for event in events %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><span class="post-info">
                            {% if event.author.userprofile.student_info.vk %}
                                <a class="vk-link" href="{{ event.author.userprofile.student_info.vk }}">
                                {{ event.author.first_name }} {{ event.author.last_name }},
                                </a>
                            {% else %}
                                {{ event.author.first_name }} {{ event.author.last_name }},
                            {% endif %} {{ event.add_dttm }}
                        </span></p>

                        {% if event.cls == event.OPEN %}<p>Создано новое обращение в Сенат</p>
                        {% elif event.cls == event.UPDATE %}<p>Информация по обращению в Сенат обновлена</p>
                        {% elif event.cls == event.STATUS_CHANGE %}<p>Статус обращения изменен на {{ object.get_status_display }}</p>
                        {% elif event.cls == event.DETAILS_REQUEST%}<p>Запрошена дополнительная информация</p>
                        {% endif %}

                        {% if event.info %}<p><strong>{{ event.info|safe }}</strong></p>{% endif %}
                        {% if event.new_dept %}<p>Обращение передано в {{ event.new_dept.department.name }}</p>{% endif %}
                        {% if event.new_worker %}
                            <p>Ответственный сотрудник теперь {{ event.new_worker.first_name }} {{ event.new_worker.last_name }}</p>
                        {% endif %}

                        {% for photo in event.eventdocument_set.all %}
                            <img class="aiddocument" src="{{ photo.file.url }}">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% if form %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form%}
                            {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Обновить обращение
                            </button>
                    {% endbuttons %}
                </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}