{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load blog_extras %}

{% block title %}
    Создание обращения
{% endblock %}

{% block content %}
    <div class="card mx-auto">
        <div class="card-header">
            <h2>Обращение в Сенат ФОПФ</h2>
        </div>
        <div class="card-body">
            {% article_content "embedded-senateissue-form" %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form%}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Отправить обращение
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}