{% if messages or not user.is_authenticated or user.is_authenticated and not user.userprofile.is_approved %}
<div style="padding-top:32px;" class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismiss alert-{% if 'error' in message.tags %}danger">
            {% else %}{{ message.tags }}">{% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>{{ message|safe }}</p>
        </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated and not user.userprofile.is_approved %}
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><a class="alert-link" href="{% url 'profiles:profile_view' %}">
            Завершить процедуру регистрации,
        </a> чтобы получить доступ ко всем сервисам</p>
    </div>
{% endif %}
{% if not user.is_authenticated %}
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p> <a class="alert-link" href="{% url 'profiles:profile_view' %}">
            Создать аккаунт для использования сервиса,
        </a> авторизовавшись через ВКонтакте или почту на phystech.edu</p>
    </div>
{% endif %}

{% if messages or not user.is_authenticated or user.is_authenticated and not user.userprofile.is_approved %}
</div>
{% endif %}