{% extends "polls/base.html" %}
{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Заявление от {{ object.add_dttm|date }} в категории "{{ object.category }}"</h2>
            </div>
            <div class="panel-body">
                <p>Дата подачи: {{ object.add_dttm|date }}</p>
                <p>Категория: {{ object.category }}</p>
                <p>Обоснование: {{ object.reason | safe }}</p>
                <p>Запрошенная сумма: {{ object.req_sum|floatformat }} руб.</p>
                <p>Срочно: {% if object.urgent %} да {% else %} нет {% endif %}</p>
                <p>Статус: <span class="label {% if object.status == object.ACCEPTED %}label-success
                                                {% elif object.status == object.DECLINED %}label-danger
                                                {% elif object.status == object.INFO_NEEDED %}label-warning
                                                {% else %}label-default{% endif %}
                ">{{ object.get_status_display }}</span></p>
                {% if object.examination_dttm %}
                    <p>Дата рассмотрения заявки: {{ object.examination_dttm|date }}</p>
                {% endif %}
                {% if object.accepted_sum %}
                    <p>Одобренная сумма: {{ object.accepted_sum|floatformat }} руб.</p>
                {% endif %}
                {% if object.payment_dt %}
                    <p>Ожидаемая дата выплаты: {{ object.payment_dt|date }}</p>
                {% endif %}
                {% if object.examination_comment %}
                    <p>Комментарий стип. комиссии: {{ object.examination_comment }}</p>
                {% endif %}
                {% for document in object.aiddocument_set.all %}
                    {% if document.is_application_paper %}
                        {% if not object.submitted_paper and object.status == object.ACCEPTED %}
                            <p>Не забудьте распечатать заявление и опустить в ящик на 1 этаже общежития!</p>
                        {% endif %}
                        <p><a href="{{ document.file.url }}">Заявление на матпомощь</a></p>
                    {% else %}
                        <p><a href="{{ document.file.url }}">Подтверждающий документ</a></p>
                    {% endif %}
                {% endfor %}
                <a href={% url "fin_aid:aid_request_delete" object.id %} class="btn btn-danger">Удалить заявление</a>
            </div>
        </div>
    </div>
{% endblock %}
