{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Заявление на матпомощь</h2>
            </div>
            <div class="panel-body">
                <p>Дедлайн по заявлениям на ближайщий месяц: <b>{{ deadline_dt }}</b>. Следующая матпомощь ожидается <b>{{ payment_dt }}</b></p>
                <p>Для подачи заявления необходимо выбрать категорию вашей заявки и развернуто обосновать необходимость
                получения материальной помощи. При возможности укажите требуемую сумму и прикрепите документы, подтверждающие
                Вашу заявку.</p>
                <p>Если Вы оказались в тяжелой жизненной ситуации и финансовая помощь нужна Вам немедленно,
                поставьте соответствующий флажок.</p>
                <p>С детальным описанием каждой из категорий нуждающихся и более подробными правилами Вы можете ознакомиться
                    <a href="{% url "fin_aid:aid_request_rules" %}">в соответствующем разделе</a>. Решение стипендиальной комиссии
                по Вашему заявлению будет доступно в личном кабинете.</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Подать заявление
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}