{% extends "core/base.html" %}

{% block title %}
    Заявления на матпомощь
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><div class="panel-title"><h3>Мои заявления на матпомощь</h3></div></div>
            <div class="table-responsive">
                {% include "fin_aid/aidrequest_table.html" %}
            </div>

        </div>
    <div>
{% endblock %}
