{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}
    Матпомощь отделу
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Матпомощь отделу</h2>
            </div>
            <div class="panel-body">
                <p>Дедлайн по заявлениям на ближайщий месяц: <b>{{ deadline_dt }}</b>. Следующая матпомощь ожидается <b>{{ payment_dt }}</b></p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-responsive borderless">
                            {% for form in formset.forms %}
                                {% if forloop.first %}
                                    <thead><tr>
                                    {% for field in form.visible_fields %}
                                        <th>{% bootstrap_label field.label %}</th>
                                    {% endfor %}
                                    </tr></thead>
                                    <tbody>
                                {% endif %}
                                <tr>
                                    {% for field in form %}
                                        <td>{% bootstrap_field field show_label=False%}</td>
                                    {% endfor %}
                                </tr>
                                {% if forloop.last %}
                                    </tbody>
                                {% endif %}
                                {{ form.media.js }}
                                {{ form.media.css }}
                            {% endfor %}
                    </table>
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}