tr.clickable-row {
    cursor: pointer;
}

img.aiddocument {
    max-width: 100%;
}

span.post-info {
    font-style: italic;
}

table.borderless td, table.borderless th {
    border: none;
}

.student-select {
    min-width: 250px;
}

.sum-select {
    max-width: 100px;
}