tr.clickable-row {
    cursor: pointer;
}

img.aiddocument {
    max-width: 100%;
}

span.post-info {
    font-style: italic;
}

.student-select {
    min-width: 250px;
}

.card-single-column {
    column-count: 1;
}

.dropdown-menu a.nav-link:hover {
    color: #0056b3!important; // TODO move to saas variable
}