{% extends "core/base.html" %}

{% block title %}
403 Forbidden
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="card">
            <div class="card-header">
                <h2>Ай-ай-ай! Вам сюда нельзя!</h2>
            </div>
            <div class="card-body">
                <h3>403 Forbidden</h3>
                <p>Мы очень заботимся о безопасности сайта и данных наших пользователей, поэтому ограничили доступ к этой странице</p>
                <p>Если считаете, что доступ к запрошенной странице Вам жизненно необходим, напишите разработчикам</p>
                <p>А пока можете посмотреть, как кот плавает в бассейне:</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VgnU-SMgf4M" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
{% endblock %}
