{% extends "core/base.html" %}

{% block title %}
403 Forbidden
{% endblock %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Ай-ай-ай! Вам сюда нельзя!</h2>
            </div>
            <div class="panel-body">
                <h3>403 Forbidden</h3>
                <p>Мы очень заботимся о безопасности сайта и данных наших пользователей, поэтому ограничили доступ к этой странице</p>
                <p>Если считаете, что доступ к запрошенной странице Вам жизненно необходим, напишите разработчикам</p>
                <p>А пока можете посмотреть, как кот плавает в бассейне:</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VgnU-SMgf4M" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
{% endblock %}
