{% extends "polls/base.html" %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{% if request.user == object.owner.user %}
                        Мой велосипед
                    {% else %}
                        Велосипед, хозяин - {{ object.owner }}
                    {% endif %}
                </h2>
            </div>
            <img class="panel-body">
                <p>Производитель: {{ object.manufacturer }}</p>
                <p>Модель: {{ object.model }}</p>
                {% if object.place %}<p>Хранится: {{ object.place }}</p>{% endif %}
                <p>Добавлен: {{ object.add_dttm }}</p>
                <p>Статус: {% if object.verified %} <span style="color: green">проверен</span>
                {% else %}<span style="color: red">не проверен</span>{% endif %}
                </p>
                <img src={{ object.photo.url }} width=100%>
            </div>
        </div>
    </div>
{% endblock %}