{% extends 'core/base.html' %}

{% block content %}
    <h2>{{ department.name }}</h2>
    <div style="margin-bottom: 4rem;">
        {{ department.description|safe }}
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Активисты
                    </div>
                </div>
                <div class="list-group">
                {% for activist in department.activists.all %}
                    <div class="list-group-item">
                        <div>
                            <a href="{% url 'departments:activist_detail' activist.id %}">{{ activist.user.get_short_name }}</a>
                        </div>
                        <div class="text-muted">
                            {{ activist.position }}
                        </div>
                        <div class="text-muted">
                            <a href="mailto:{{ activist.user.email }}">{{ activist.user.email }}</a>
                        </div>
                    </div>
                {% empty %}
                    <div>Активистов нет.</div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Вакансии
                    </div>
                </div>
                <div class="list-group">
                {% for vacancy in department.vacancies.open %}
                    <div class="list-group-item">
                        <div>{{ vacancy.position }}</div>
                        <div class="text-muted">
                            {{ vacancy.description }}
                        </div>
{#                        <br/>#}
{#                        <div>#}
{#                            <a href="">Откликнуться</a>#}
{#                        </div>#}
                    </div>
                {% empty %}
                    <div>Вакансий нет.</div>
                {% endfor %}
                </div>
                <div class="panel-body">
                    Для того, чтобы откликнуться, пишите на почту главе отдела.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
